body {
  background: #6bc8c9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

img {
  width: 200px;
  height: auto;
}
#image-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}